.details {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
  color: var(--main-text);
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;

  box-shadow: var(--shadow, 0 4px 10px rgba(0, 0, 0, 0.1));
  padding: 60px 30px;
}

.imageWrapper {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 320px;
  width: 100%;
  border-radius: var(--radius, 16px);
  box-shadow: var(--shadow, 0 4px 10px rgba(0, 0, 0, 0.1));
  object-fit: contain;
}

.info {
  flex: 1 1 300px; /* елемент буде займати мінімум 300px, але може розтягуватись, якщо є місце */
  padding: 24px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--main-text);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  font-size: 16px;
  margin-bottom: 12px;
  color: var(--main-text);
}

.list span {
  font-weight: 600;
  color: var(--accent);
  margin-right: 8px;
}

.goBack {
  display: inline-block;
  margin-bottom: 24px;
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  border: 1px solid var(--accent);
  border-radius: var(--radius, 12px);
  padding: 6px 16px;
  transition: all 0.25s ease;
}

.goBack:hover {
  color: var(--primary-hover);
}
