.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .active {
    color: #0b44cd;
  }
}

/* ---- LOGO ---- */
.logoWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--cta);
  text-decoration: none;

  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.05);
  }
}
/* logo-2 */
.logo2 {
  font-family: "Russo One", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  text-transform: uppercase;
  background: linear-gradient(90deg, #111 0%, #2563eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
/* logo-3 */
.logo3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  color: #1e293b;

  transition: transform 0.2s ease-in-out;

  &:hover {
    /* color: var(--footer-bg); */
    transform: scale(1.05);
  }
}
.logo3 .accent {
  color: #2563eb;
  color: var(--cta);
}

/* Admin */
.adminWrap {
  position: relative;
  display: inline-block;
}

.btnAdmin {
  display: flex;
  align-items: center;
  /* margin-bottom: 3px; */
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: var(--shadow-soft);

  transition: var(--transition);
  /* transition: background-color 0.2s; */
  /* transition: all 0.2s ease-in-out; */
}
.btnAdmin:hover {
  background: var(--accent-light);
  border-color: var(--accent-color);
}

.btnIcon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: black;
  transition: transform 0.3s ease;
}

.btnAdmin[aria-expanded="true"] .btnIcon {
  transform: rotate(180deg); /* Поворот стрілки вниз при відкритому меню */
}

/* ---- DROPDOWN ---- */
.adminMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
}

.adminMenu.open {
  display: block;
  animation: slideDown 0.2s ease-out;
}

.addButton {
  display: block;
  width: 100%;
  padding: 10px 16px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text);

  transition: background-color 0.2s ease;
}

.addButton:hover {
  background-color: var(--accent-light);
}

/* ---- NAV LINKS ---- */
.wrapNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagesInHeader {
  display: flex;
  gap: 18px;
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text);
  position: relative;
  transition: color 0.2s ease-in-out;
  /* padding: 5px 10px; */

  &:link:hover {
    color: var(--accent-color);
  }
}

.active {
  color: #3470ff;

  font-weight: bold;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* ??? Анімація для висовування меню ?????*/
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* tablet*/
@media (min-width: 768px) {
  .nav {
    align-items: flex-start;
  }

  .logoWrap {
    display: flex;
    align-items: center;

    flex-direction: row;
    gap: 15px;
  }

  .logo,
  .logo2,
  .logo3 {
    font-size: 22px;
    margin-bottom: 0;
  }

  /* ---------- */
  .adminMenu {
    width: 100%;
    box-shadow: none;
  }

  .wrapNav {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .pagesInHeader {
    margin-bottom: 0;
  }
}

/* desctop */
@media screen and (min-width: 1400px) {
  .wrapNav {
    flex-direction: row;
    align-items: center;
  }
  .pagesInHeader {
    margin-bottom: 0px;
  }
}

/* --- */
.link:focus,
.link:focus-visible,
.logo:focus,
.logo:focus-visible {
  outline: none;
}
