.nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;

  .active {
    color: #0b44cd;
  }
}

.logoWrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Admin */
.adminWrap {
  position: relative;
}

.btnAdmin {
  display: flex;
  align-items: center;
  /* margin-bottom: 3px; */
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnAdmin:hover {
  background-color: #f0f0f0;
}

.btnIcon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: black;
  transition: transform 0.3s ease;

  /* width: 12px;
  height: 12px;
  margin-left: 5px;
  transition: transform 0.2s; */
}

.btnAdmin[aria-expanded="true"] .btnIcon {
  transform: rotate(180deg); /* Поворот стрілки вниз при відкритому меню */
}

.adminMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.adminMenu.open {
  display: block;
  animation: slideDown 0.2s ease-out;
}

.addButton {
  display: block;
  width: 100%;
  padding: 8px 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.addButton:hover {
  background-color: #f0f0f0;
}
/* ---- */

.wrapNav {
  display: flex;

  align-items: center;
  /* gap: 15px; */
}

.link {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.active {
  color: #3470ff;
  font-weight: bold;
}

.navItem {
  /* margin-right: 32px; */
  /* margin-right: 10px; */
}

/* Анімація для висовування меню ?????*/
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* tablet*/
@media (min-width: 768px) {
  .nav {
    align-items: flex-start;
  }

  .adminMenu {
    position: static;
    width: 100%;
    box-shadow: none;
  }
}

/* desctop */
@media screen and (min-width: 1440px) {
}
