.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 16px;
}
.content {
  position: relative;
  background-color: var(--white);
  color: var(--main-text);
  padding: 40px 50px;
  /* overflow: hidden; */
  border-radius: var(--radius);

  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  h1 {
    font-size: 2rem;
  }
}
/* стилізація скролбару */
.content::-webkit-scrollbar {
  width: 6px;
}
.content::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.closeBtn {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: var(--transition);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    box-shadow: var(--shadow-hover);
  }
}

/* ---------- Адаптивність ---------- */

/* планшети */
@media screen and (min-width: 768px) {
  .content {
    /* padding: 24px 20px; */
    /* width: 95%; */
    max-height: 100vh;
  }
}
