.filterText {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-text);
  margin-bottom: 24px;
  text-align: left;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
}

.group {
  position: relative;
  /* display: flex; */
  flex-direction: column;
}

.label {
  color: var(--color-text-secondary);
  font-size: 14px;
  line-height: 16px;
  margin-right: 8px;
}

.label .searchInput {
  padding: 12px 32px 12px 16px;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: var(--white);
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  vertical-align: middle;
  color: var(--main-text);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--shadow-soft);
}
.searchInput:focus,
.searchInput:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px rgba(85, 130, 233, 0.2);
  outline: none;
}

.error {
  position: absolute;
  left: 15px;
  top: 69px;
  color: #d32f2f;
  font-size: 14px;
  margin-top: 4px;
}

.btnReset {
  background-color: var(--color-text-secondary);
  color: var(--white);
  font-weight: 500;
  margin-left: 10px;
  white-space: nowrap;
  padding: 12px 28px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: var(--shadow-soft);
}

@media screen and (max-width: 463px) {
  .searchInput {
    margin-bottom: 10px;
  }
}
