.section {
  padding: 40px 0;
  background-color: #f8f9fa;
  min-height: 70vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  /* text-align: center; */
  color: var(--color-text-secondary);
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
}

.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.errorText {
  text-align: center;
  color: #e63946;
  font-size: 1.1rem;
  background-color: #fff3f3;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.errorText span {
  font-weight: bold;
}

.emptyText {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  background-color: #fff;
  padding: 60px 20px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  line-height: 1.6;
}

/* page-button */
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.pageButton {
  background-color: #f9fafb;
  color: #101828;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.pageButton:hover {
  background-color: #e4e7ec;
  color: black;
}

.activePage {
  background-color: var(--accent-color);
  color: #ffffff;
  border-color: #344054;
}

.loadMoreBtn {
  display: block;
  margin: 24px auto 0;
  background-color: #cbdff3;
  color: #101828;
  border: 1px solid #c3ceda;
  border-radius: 10px;
  padding: 10px 18px;

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.15s ease,
    box-shadow 0.2s ease;
}

/* Hover */
.loadMoreBtn:hover {
  background-color: #a7c4e2;
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}
