.selectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: var(--shadow-soft);
  transition: var(--transition);
  appearance: none; /* прибираємо системну стрілку */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/chevron-down.svg"); /* можна підставити свою іконку */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  min-width: 150px;

  &:hover {
    border-color: var(--accent-color);
  }
}

.select:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px rgba(52, 112, 255, 0.5);
}

.categoryText {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-text);
  margin-bottom: 24px;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.categoryItem {
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.categoryItem:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  background-color: var(--background);
  overflow: hidden;
}
/* (для підтримки старих браузерів) */
@supports not (aspect-ratio: 4 / 3) {
  .imageWrapper {
    padding-top: 75%;
  }
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.categoryItem:hover img {
  transform: scale(1.08);
}

.categoryTitle {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  padding: 12px 0;
  color: var(--main-text);
}
