:root {
  /* Кольори */
  --main-text: #101828; /* Основний колір тексту */
  --accent-text: #5582e9; /* Акцентний колір для посилань, заголовків */
  --accent-color: #5582e9; /* Акцентний колір для елементів (наприклад, кнопок) */
  --background: #f2f4f7; /* Фоновий колір сторінки */
  --white: #ffffff; /* Білий */
  --button-color: #5582e9; /* Колір кнопок */
  --button-hover: #3b65d1; /* Колір кнопок при наведенні */
  --grey: #8d929a; /* Сірий для другорядного тексту */
  --dark-grey: #333333; /* Темно-сірий (для темної теми браузера) */

  /* Шрифти */
  --font-family: "Montserrat", sans-serif; /* Основний шрифт */
  --font-family-secondary: "Roboto", sans-serif; /* Додатковий шрифт */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--main-text);
  background-color: var(--background);
  align-items: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto; /* Зберігаємо пропорції ???? */
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--accent-text);
}

button {
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}
.container {
  max-width: 375px;
  padding: 15px;
  min-width: 320px;
  margin: 0 auto;
  background: var(--main-white);
}

/* ??? */
/* @keyframes pageTransition {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    width: 1440px;
    padding: 0 120px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* чи потрібно?? */
/* html::-webkit-scrollbar-button {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar-track {
  display: none;
}
html::-webkit-scrollbar-thumb {
  display: none;
} */

.button {
  background-color: var(--button-color);
  padding: 12px 88px;
  color: var(--white);
  border-radius: 12px;
  border-radius: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Плавний ефект */
}
.button:hover {
  background-color: var(--button-hover);
  transform: scale(1.02); /* Легке збільшення при наведенні */
}

.button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px; /* Для доступності */
}
/* Доступність для фокусу */
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}
