/* -- Hero -- */
.hero {
  /* background-image: ; */

  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
  transition: var(--transition);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg); /* Світло-сірий фон, нейтральний і чистий */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--main-text);
  margin-bottom: 16px;
}
.hero p {
  font-size: 18px;
  color: var(--color-text-secondary);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* -- Category -- */
.category {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* -- SearchBar -- */
.searchBar {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white); /* --hero-bg ??*/
}

/* tablet */
@media screen and (min-width: 768px) {
  .category {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
